{% extends 'base.html' %}

{% block title %} Seller {% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item m-2">
                    <a href="{% url 'seller_update' object.id %}" class="btn btn-outline-info btn-sm">Update</a>
                </li>
                <li class="nav-item m-2">
                    <a href="{% url 'seller_delete' object.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                </li>

            </ul>
        </div>
        <div class="card-body">
            <table style=" border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;">
                <tr>
                    <th style="width:50%">Features</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>id</td>
                    <td>{{ object.id }}</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>company</td>
                    <td>{{ object.company }}</td>
                </tr>
                <tr>
                    <td>phone_number</td>
                    <td>{{ object.phone_number }}</td>
                </tr>
                <tr>
                    <td>address</td>
                    <td>{{ object.address }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}